<nav>
    <div class="nav-trunck">
        <h3>Observa Admin</h3>
    </div>

    <div class="nav-cont">
        <p class="p-ico">
            <span class="glyphicon glyphicon-search ico"></span>
            <input type="search" name="" placeholder="Recherchez-vous quelques chose???">

        </p>
        <p class="p-ico">
            <a href="#!" id="add-user"><span class="icon icon-user-plus"></span>						</a>
            <a href="#!"><span class="icon icon-tree"></span></a>
            <a href="#!"><span class="icon icon-file-text2"></span></a>
            <a href="#!" id="addData"><span class="icon icon-quill"></span></a>
        </p>
    </div>

    <div class="nav-trunck">
        <p class="p-ico">
            <a href="#!"><span class="icon icon-bell"></span></a>
            <a href="#!"><span class="icon icon-cogs"></span></a>
        </p>
    </div>
</nav>