<%-include('../inc/header');-%>
<body class="authentication-bg authentication-bg-pattern">

    <%- body %>
    <!-- end page -->


    <footer class="footer footer-alt">
        2022 - <script>document.write(new Date().getFullYear())</script>2025 © Observa by <a href="https://www.inoha.ac.cd/" target="_blank" class="text-white-50"> INOHA</a> 
    </footer>

    <!-- Authentication js -->


</body>