<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->

<body class="authentication-bg authentication-bg-pattern">
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
      <div class="account-pages mt-5 mb-5">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-md-8 col-lg-6 col-xl-4">
                      <div class="card bg-pattern">

                          <div class="card-body p-4">
                              
                              <div class="text-center w-75 m-auto">
                                  <div class="auth-brand">
                                      <a href="https://coderthemes.com/ubold/layouts/default/index.html" class="logo logo-dark text-center">
                                          <span class="logo-lg">
                                              <img src="./img/logo.png" alt="" height="120">
                                          </span>
                                      </a>
                  
                                      <a href="https://coderthemes.com/ubold/layouts/default/index.html" class="logo logo-light text-center">
                                          <span class="logo-lg">
                                              <img src="./img/logo.png" alt="" height="22">
                                          </span>
                                      </a>
                                  </div>
                                  <p class="text-muted mb-4 mt-3">Entrez votre nom d'utilisateur et mot de passe pour accéder à l'espace de travail.</p>
                              </div>

                              <form action="user-signin/" method="post">

                                  <div class="mb-3">
                                      <label for="emailaddress" class="form-label">Pseudo / Username</label>
                                      <input class="form-control form-control-sm" name="userlogin" type="text" id="emailaddress" required="" placeholder="Entrer votre pseudo" autocomplete="off">
                                  </div>

                                  <div class="mb-3">
                                      <label for="password" class="form-label">Mot de passe</label>
                                      <div class="input-group input-group-merge">
                                          <input type="password" id="password" name="userpassword" class="form-control form-control-sm" placeholder="Entre votre mot de passe" required="" autocomplete="off">
                                          <div class="input-group-text" data-password="false"><i class="bi bi-wifi"></i>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="mb-3">
                                      <div class="form-check">
                                          <input type="checkbox" class="form-check-input form-check-input-sm" id="checkbox-signin" checked="">
                                          <label class="form-check-label" for="checkbox-signin">Se rappeler de moi</label>
                                      </div>
                                  </div>

                                  <div class="text-center d-grid">
                                      <button class="btn btn-primary btn-sm" type="submit">Connectez-vous</button>
                                  </div>

                              </form>

                              <div class="text-center">
                                  <ul class="social-list list-inline mt-3 mb-0">
                                      <li class="list-inline-item">
                                          <a href="javascript: void(0);" class="social-list-item border-primary text-primary"><i class="mdi mdi-facebook"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="javascript: void(0);" class="social-list-item border-danger text-danger"><i class="mdi mdi-google"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="javascript: void(0);" class="social-list-item border-info text-info"><i class="mdi mdi-twitter"></i></a>
                                      </li>
                                      <li class="list-inline-item">
                                          <a href="javascript: void(0);" class="social-list-item border-secondary text-secondary"><i class="mdi mdi-github"></i></a>
                                      </li>
                                  </ul>
                              </div>

                          </div> <!-- end card-body -->
                      </div>
                      <!-- end card -->

                      <div class="row mt-3">
                          <div class="col-12 text-center">
                              <p> <a href="#!" class="text-white-50 ms-1">Mot de passe oublié ?</a></p>
                          </div> <!-- end col -->
                      </div>
                      <!-- end row -->

                  </div> <!-- end col -->
              </div>
              <!-- end row -->
          </div>
          <!-- end container -->
      </div>
      <!-- end page -->
  
</body></html>