<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= targetPage === "auth" ? "Connexion" : "" %>| INOHA-OBSERVE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UBold is a modern, responsive admin dashboard available on ThemeForest. Ideal for building CRM, CMS, project management tools, and custom web applications with a clean UI, flexible layouts, and rich features.">
    <meta name="keywords" content="UBold, admin dashboard, ThemeForest, Bootstrap 5 admin, responsive admin, CRM dashboard, CMS admin, web app UI, admin theme, premium admin template">
    <meta name="author" content="Coderthemes">

    <!-- App favicon -->
    <link rel="shortcut icon" href="./img/ubold/favicon.ico">

    <!-- Theme Config Js -->
    <script src="./js/ubold/config.js"></script>

    <!-- Vendor css -->
    <link href="./css/ubold/vendors.min.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="./css/ubold/app.min.css" rel="stylesheet" type="text/css">
</head>